[submodule "lib/tarantool-c"]
	path = lib/tarantool-c
	url = https://github.com/deadbabe/tarantool-c.git
	branch = fix_request_writeout
[submodule "lib/libslave"]
	path = lib/libslave
	url = https://github.com/mambaru/libslave.git
	branch = mamba
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
